body
{
  background-color: #ffffff;
  color: #555555;
  font-size: 20px;
  padding: 40px;
  text-align: center;
}
/*案1bodyを黒色にしてENDINGにする*/
END{
    background: #000000;
    color: #ffffff;
    display: none;
    font-size: 60px;
    padding: 40px 50px;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;

    top: 0px;
    left: 0px;
  }
  title{
    background: #ffffff;
    display: inline-blok;
  }

  .white-box{
    background: #FFFFFF;
    border-radius: 10px;
    display: inline-block;
    width: 50%;
  }

  startbutton{
    border: solid 1px #555555;
    color: #555555;
    display: inline-block;
    font-size: 48px;
    margin-bottom: 10px;
    padding: 32px;
    width: 500px;
    height: 40px;
    position:relative;
    bottom: -200px;
  }

  startbutton:hover {
    background: #555555;
    color: #FFFFFF;
  }

  sentaku{
    border: solid 5px #555555a1;
    background: #55555550;
    color: #555555;
    display: inline-block;
    font-size: 48px;
    margin-bottom: 10px;
    margin-left: -180px;
    padding: 20px 20px 20px;
    width: 1000px;
    height: 100px;
    position:relative;
    bottom: 200px;

    top:50px;
    left:0px;
  }

  sentaku:hover {
    background: #555555;
    color: #FFFFFF;
  }

  report{
    background: #FFFFFF;
    color: #555555;
    display: inline-block;
    font-size: 50px;
    padding: 10px 50px;
    padding: 20px 20px 20px;
    text-align: center;
  }
